.modal {

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &__box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0) ;
        overflow: hidden;
        transition: all .4s ease-in-out;
        background-color: #ddd;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__img {
        width: 400px;
        height: 300px;

        img {
            width: 100%;
            height: 300px;
            object-fit: contain;
        }
    }

    &__info {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 14px;

        h3 {
            font-size: 18px;
            font-weight: 600;
            line-height: 21.94px;
            color: #292929;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 17.05px;
            color: #292929;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            line-clamp: 2;
        }
    }

}

.show {
    transform: translate(-50%, -50%) scale(1) ;
    overflow: visible;
}